body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ccc;
    margin-bottom:60px;
    background-color: #222;
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #000;
    height: 50px;
    width: 100%;
    opacity: .9;
    margin-bottom: 30px;
    padding: 1.5em 0;
  }
  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  header h1.logo:hover {
    color: #14B882;
    text-decoration: none;
  }
  footer {
    position: fixed;
    height: 60px;
    background-color: #333;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 10px 0 30px 0;
  }
  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  div.home {
    padding: 30px 30px 30px 30px;
    background-color: #333;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 30px 30px 30px 30px;
    background-color: #333;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.callback {
    padding: 30px 30px 30px 30px;
    background-color: #333;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.discover_enhanced {
    padding: 30px 30px 30px 30px;
    background-color: #333;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  .menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  .menu li a:hover {
    color: #14B882;
    text-decoration: none;
  }
